*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
}




